@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 5% 64.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 240 3.7% 15.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

/* body{
  height:1000px;
} */

/* #root{

} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	background-image: url('./assets/abstract_background.avif');
	background-size: cover;
	/* background-repeat: no-repeat; */
	background-position: center;
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: blue; */
	/* background-image: url('./assets/abstract_background.avif'); */
	/* background-size: cover; */
	/* background-position: center; */
	/* background-repeat: no-repeat; */
	padding: 20px;
}

.landing {
	width: 375px;
}

.squad {
	height: 100%;
}

.activity-feed {
	height: 100%;
}

.navbar {
	/* height: 5%; */
	height: 50px;

	display: flex;
	justify-content: center;
}

.navbar-container {

	display: flex;
	
	width: 100%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	padding-left: 5px;
	padding-right: 5px;
}

.nav-section {
	width: 32%;
	display: flex;
	height: 100%;
	/* justify-content: center; */
	align-items: center;
	/* background-color: pink; */
}

.profile-image {
	margin-right: 5px;
}

.left {
	height: 91%;
}

.right {
	height: 91%;
}

.feed-container {
	height: 95%;
	/* overflow: hidden; */
}

@media only screen and (max-width: 1024px) {
	.feed-container {
		min-height: 1500px;
	}

	#root {
		min-height: 1600px;
	}
}

@media only screen and (max-width: 640px) {
	.feed-container {
		min-height: 1600px;
	}

	#root {
		min-height: 1700px;
	}
}

/* <div className='task-container md:bg-black lg:bg-red border 
border-red-500 w-full p-1 gap-1 flex flex-wrap xs:justify-center md:justify-between  lg:justify-between'> */
.task-container {
	height: 300px;
	/* height: 90%; */
	padding: 4px;
	gap: 12px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow-y: scroll;
	/* overflow-y: hidden; */
}

.task {
	height: 120px;
	width: 300px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	/* background-color: red; */
}

.task-title {
	font-weight: bolder;
}

.task-button-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 5px;
}

.task-button-log {
	width: 40%;
	font-size: 0.8rem;
	color: black;
	background-color: white;
}

.task-button-log:hover {
	background-color: rgb(243, 244, 246) !important;
}

.task-button-point {
	color: black;
	background-color: rgb(229 231 235);
}

.task-button-point:hover {
	background-color: rgb(209, 213, 219) !important
}

@media only screen and (min-width: 600px) {
	.task-container {
		justify-content: space-around;
	}
}
@media only screen and (max-width: 640px) {
	.left {
		grid-column: span 2 / span 2;
	}
}
/* @media only screen and (min-width: 1000px) {
	.task-container {
		justify-content: space-between;
	}
} */

/* @media only screen and (min-width: 600px) {
	.task {
		width: 300px;
	}
} */

span {
	color: rgb(107 114 128);
}

@media only screen and (max-width: 400px) {
	.landing {
		width: 350px;
	}
}

/* @media only screen and (max-width: 1024px) {
	.feed-container {
    min-height:100vh;
	}
} */
