@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 5% 64.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 240 3.7% 15.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* body{
  height:1000px;
} */

/* #root{

} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: blue; */
	background-image: url('./assets/abstract_background.avif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px;
}

.landing {
	width: 375px;
}

.squad {
	height: 100%;
}

.activity-feed {
	height: 100%;
}

.navbar {
	height: 5%;
	background: salmon;
	display: flex;
	justify-content: center;
}

.navbar-container {
	border: 1px solid teal;
	display: flex;
	background-color: dodgerblue;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	padding-left: 5px;
	padding-right: 5px;
}

.nav-section {
	border: 1px solid pink;
	width: 32%;
	display: flex;
	height: 100%;
	/* justify-content: center; */
	align-items: center;
	/* background-color: pink; */
}

.profile-image {
	border: 1px solid red;
	margin-right: 5px;
}

.left {
	height: 91%;
}

.right {
	height: 91%;
}

.feed-container {
	height: 95%;
}

/* <div className='task-container md:bg-black lg:bg-red border 
border-red-500 w-full p-1 gap-1 flex flex-wrap xs:justify-center md:justify-between  lg:justify-between'> */
.task-container {
	/* height: auto; */
	padding: 4px;
	gap: 10px;
	border: 1px solid red;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.task {
	height: 130px;
	width: 250px;
	/* background-color: red; */
}

@media only screen and (min-width: 600px) {
	.task-container {
		justify-content: space-around;
	}
}

/* @media only screen and (min-width: 1000px) {
	.task-container {
		justify-content: space-between;
	}
} */

@media only screen and (min-width: 600px) {
	.task {
		/* background-color: red; */
		width: 300px;
	}
}

span {
	color: rgb(107 114 128);
}

@media only screen and (max-width: 400px) {
	.landing {
		width: 350px;
	}
}
